webengine-report/src/main/resources/xsd/webengine/environnementVariablesAndTestSuiteData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.axa.fr/WebEngine/2022" elementFormDefault="qualified"
           targetNamespace="http://www.axa.fr/WebEngine/2022" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="EnvironmentVariables" nillable="true" type="tns:EnvironmentVariables"/>
    <xs:complexType name="EnvironmentVariables">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Variable" type="tns:Variable"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Variable">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TestSuiteData" nillable="true" type="tns:TestSuiteData"/>
    <xs:complexType name="TestSuiteData">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="TestData" type="tns:TestData"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TestData">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="TestName" type="xs:string"/>
            <xs:element minOccurs="0" maxOccurs="1" name="Data" type="tns:ArrayOfVariable"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ArrayOfVariable">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Variable" nillable="true" type="tns:Variable"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>